mat-card {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.mat-card{
    display:flex !important;
    flex-direction: column !important;
  }
  
  .mat-card-header {
    flex-shrink: 0 !important;
  }
  
  .mat-card-content{
    flex-grow: 1 !important;
    overflow: auto !important;
  }

  .mat-card-actions {
    flex: 1 1 auto !important;
  }